
snippet "#env python" "#!/usr/bin/python2" b
#!/usr/bin/python
#-*- coding:utf8 -*-
endsnippet

snippet "#env python3" "#!/usr/bin/python3" b
#!/usr/bin/python3
#-*- coding:utf8 -*-
endsnippet

snippet "#env bash" "#!/usr/bin/bash" b
#!/usr/bin/bash
endsnippet

snippet phph "<?php\n" b
<?php
$0
endsnippet

